In [1]:
# Import Numpy & PyTorch
import numpy as np
import torch

### create tensors

In [3]:
x = torch.tensor(4.)
w = torch.tensor(5., requires_grad=True)
b = torch.tensor(6., requires_grad=True)

In [4]:
# Print tensors
print(x)
print(w)
print(b)

tensor(4.)
tensor(5., requires_grad=True)
tensor(6., requires_grad=True)

### Equation of a straight line

#### y = w * x + b

##### we can automatically compute the derivative of y w.r.t. the tensors that have requires_grad set to True

In [5]:
# Arithmetic operations
y = w * x + b
print(y)

tensor(26., grad_fn=<AddBackward0>)

#### compute gradients

#####  we can automatically compute the derivative of y w.r.t. the tensors that have requires_grad set to True

In [6]:
y.backward()

In [7]:
# Display gradients
print('dy/dw:', w.grad) #dy/dw= x
print('dy/db:', b.grad)

dy/dw: tensor(4.)
dy/db: tensor(1.)

In [ ]:
####https://www.kaggle.com/aakashns/pytorch-basics-linear-regression-from-scratch
####https://medium.com/dsnet/linear-regression-with-pytorch-3dde91d60b50


#####https://www.kaggle.com/krishanudb/basic-computation-graph-using-pytorch/code
##https://www.kaggle.com/leostep/pytorch-dense-network-for-house-pricing-regression

In [9]:
import torch
import torch.optim as optim
import torch.nn as nn
import numpy as np
import matplotlib.pyplot as plt

In [3]:
input_size = 1
output_size = 1
num_epochs = 10000
learning_rate = 0.001

In [4]:
x_train = np.array([[3.3], [4.4], [5.5], [6.71], [6.93], [4.168],[9.779], [6.182], [7.59], [2.167], [7.042], [10.791], [5.313], [7.997], [3.1]], dtype=np.float32)

y_train = np.array([[1.7], [2.76], [2.09], [3.19], [1.694], [1.573], [3.366], [2.596], [2.53], [1.221], [2.827], [3.465], [1.65], [2.904], [1.3]], dtype=np.float32)

In [5]:
model = nn.Linear(input_size, output_size)

# Loss Function:
criterion = nn.MSELoss()
optimizer = optim.SGD(model.parameters(), lr=learning_rate)

In [ ]:
####https://www.kaggle.com/kunal627/titanic-logistic-regression-with-python
####https://www.kaggle.com/kiranscaria/titanic-pytorch
####https://www.kaggle.com/dpamgautam/pytorch-linear-regression
####https://bennydai.files.wordpress.com/2018/02/iris-example-pytorch-implementation.pdf

In [ ]:
##https://www.kaggle.com/dpamgautam/linear-and-logistic-regression-using-pytorch

In [ ]:
#### ols--> house price: https://towardsdatascience.com/create-a-model-to-predict-house-prices-using-python-d34fe8fad88f

In [44]:
import pandas as pd

In [88]:
import numpy as np

In [90]:
dataset = pd.read_csv('titanic_raw.csv')
X_test = pd.read_csv('titanic_test.csv')

In [91]:
dataset_title = [i.split(',')[1].split('.')[0].strip() for i in dataset['Name']]
dataset['Title'] = pd.Series(dataset_title)
dataset['Title'].value_counts()
dataset['Title'] = dataset['Title'].replace(['Lady', 'the Countess', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona', 'Ms', 'Mme', 'Mlle'], 'Rare')

dataset_title = [i.split(',')[1].split('.')[0].strip() for i in X_test['Name']]
X_test['Title'] = pd.Series(dataset_title)
X_test['Title'].value_counts()
X_test['Title'] = X_test['Title'].replace(['Lady', 'the Countess', 'Countess', 'Capt', 'Col', 'Don', 'Dr', 'Major', 'Rev', 'Sir', 'Jonkheer', 'Dona', 'Ms', 'Mme', 'Mlle'], 'Rare')

dataset['FamilyS'] = dataset['SibSp'] + dataset['Parch'] + 1
X_test['FamilyS'] = X_test['SibSp'] + X_test['Parch'] + 1

In [92]:
def family(x):
    if x < 2:
        return 'Single'
    elif x == 2:
        return 'Couple'
    elif x <= 4:
        return 'InterM'
    else:
        return 'Large'
    
dataset['FamilyS'] = dataset['FamilyS'].apply(family)
X_test['FamilyS'] = X_test['FamilyS'].apply(family)

In [93]:
dataset['Embarked'].fillna(dataset['Embarked'].mode()[0], inplace=True)
X_test['Embarked'].fillna(X_test['Embarked'].mode()[0], inplace=True)
dataset['Age'].fillna(dataset['Age'].median(), inplace=True)
X_test['Age'].fillna(X_test['Age'].median(), inplace=True)
X_test['Fare'].fillna(X_test['Fare'].median(), inplace=True)

### see data type

In [10]:
titanic.dtypes ## see data type

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

### remove columns

### Do we have NAs?

In [6]:
print('Columns with null values:\n', titanic.isnull().sum())

Columns with null values:
 PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [7]:
#### make a copy of the data frame

t1 = titanic.copy(deep = True)

In [8]:
t_drop=t1.dropna()

In [9]:
print('Columns with null values:\n', t_drop.isnull().sum())

Columns with null values:
 PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Cabin          0
Embarked       0
dtype: int64

In [ ]:
t2 = titanic.copy(deep = True) ##another copy