In [1]:
import numpy as np
import pandas as pd

### read in excel

In [2]:
import os

In [3]:
os.getcwd()

'F:\\Python_ML\\Course6_Python4DS\\scriptsLecture\\section4'

In [4]:
file="F:\\Python_ML\\Course6_Python4DS\\scriptsLecture\\section4\\boston1.xls"

# Load spreadsheet
xl = pd.ExcelFile(file)

# Print the sheet names
print(xl.sheet_names)

[u'Sheet1', u'Sheet2']

In [5]:
# Load a sheet into a DataFrame by name: df1
df1 = xl.parse('Sheet1')

df1.head()

,MV,INDUS,NOX,RM,TAX,PT,LSTAT,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,24.0,2.31,53.8,6.575,296,15.3,4.98,NaN,NaN,Subset of Boston housing tract
1,21.6,7.07,46.9,6.421,242,17.8,9.14,NaN,NaN,data of Harrison and Rubinfeld
2,34.7,7.07,46.9,7.185,242,17.8,4.03,NaN,NaN,(1978). Each case is one U.S.
3,33.4,2.18,45.8,6.998,222,18.7,2.94,NaN,NaN,Census tract in the Boston area.
4,36.2,2.18,45.8,7.147,222,18.7,5.33,NaN,NaN,NaN